.authDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}