.filterContainer{
    display: flex;
    margin-left: 10px;
    margin-right:10px;
    margin-bottom: 10px;
    margin-top: 10px;
    justify-content: center; 
    justify-items: center; 
}
.filterParams{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right:10px;
    margin-bottom: 10px;
    margin-top: 10px; 
    justify-content: center; 
    justify-items: center; 
}
.paramSelection{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 16px;
}
.inputParams{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    justify-items: center; 
}
.inputParams form{
    margin-left: 10px;
    margin-right:10px;
    margin-bottom: 10px;
    margin-top: 10px; 
    justify-content: center; 
    justify-items: center; 
}
.resultContainer{
    margin-left: 10px;
    margin-right:10px;
    margin-bottom: 10px;
    margin-top: 10px; 
    justify-content: center; 
    justify-items: center; 
}
@media screen and (max-width: 480px) {
    .paramSelection{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        font-size: 16px;
    }
  }
